.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
a {
  font-size: x-large;
  font-weight: bolder;
  color: rgb(54, 182, 109);
}
a:hover {
  color: rgb(159, 232, 191);
  text-decoration: none;
}