:root {
    --primary: rgb(233, 233, 233);
    --accent: rgb(240, 240, 240);
    --text: rgb(33, 37, 43);
    --color: rgb(251, 203, 89);
}


html, body {
    font-family: 'Raleway', sans-serif;
    height: 100%;
    font-size: 18px;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: inherit;
}


.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%282c34'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%282c34'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}


.btn-small {
    cursor: pointer;
    transition: .2s all ease;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--color);
    text-underline-offset: 4px;
    color: inherit;
}
.btn-small:hover {
    color: var(--color);
}


.card {
    background-color: var(--lightaccent);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.card-body {
    height: 225px;
}
.card-img-wrapper {
    height: 225px;
    overflow: hidden;
}
.card-img-top {
    display: block;
    max-width:100%;
    max-height:100%;
    height: 100%;
    object-fit: cover;
}


.color-primary {
    background-color: var(--primary);
    color: var(--text);
}
.color-accent {
    background-color: var(--accent);
    color: var(--text);
}


.modal {
    overflow-y: auto;
}
.modal-open {
    overflow: auto;
    padding-right: 0px !important;
}


.album {
    position: relative;
    background: var(--primary);
    z-index: 10;
}