:root {
    --light: rgb(204, 204, 204);
    --lightaccent: rgb(197, 197, 197);
    --dark: rgb(40, 44, 52);
    --darkaccent: rgb(33, 37, 43);
    --gingerline: rgb(251, 203, 89);
}

html, body {
    font-family: 'Helvetica', sans-serif;
    height: 100%;
    font-size: 18px;
}
a {
    text-decoration: none;
}

.color-primary {
    background-color: var(--light);
    color: var(--dark);
    -webkit-transition: .5s;
    transition: .5s;
    transition-timing-function: ease-out;
}
.color-accent {
    background-color: var(--lightaccent);
    color: var(--dark);
    -webkit-transition: .5s;
    transition: .5s;
    transition-timing-function: ease-out;
}
.dark-mode-primary {
    background-color: var(--dark);
    color: var(--light);
    -webkit-transition: .5s;
    transition: .5s;
    transition-timing-function: ease-out;
}
.dark-mode-accent {
    background-color: var(--darkaccent);
    color: var(--light);
    -webkit-transition: .5s;
    transition: .5s;
    transition-timing-function: ease-out;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--darkaccent);
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 28px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 5px;
    bottom: 4px;
    background-color: var(--lightaccent);
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 50%;
}
input:checked + .slider  {
    background-color: var(--lightaccent);
    -webkit-transition: .2s;
    transition: .2s;
}
input:checked + .slider:before  {
    background-color: var(--darkaccent);
    -webkit-transition: .2s;
    transition: .2s;
    -webkit-transform: translateX(21px);
    -ms-transform: translateX(21px);
    transform: translateX(21px);
}